/AllocReviewersCommandTest.class
/ArticlesSelectionCommandTest.class
/ArticlesSelectionTest.class
/DatabaseTest.class
/GradeAssignmentCommandTest.class
/PeerReviewSystemTest.class
/UserTextInteractionTest.class
/testArticle.class
/testConference.class
